{{#each blogArr as |blog|}}
<div data-blogid ="{{blog.id}}" class="blog-content">
    <div>
        <a href="/singleblog/{{blog.id}}"><h2 class="blog-title">{{blog.title}}</h2></a>
        <p class="blog-main">{{blog.content}}</p>
        <h3 class="blog-author">By: {{user.username}}</h3>
    </div>
    <div>
        <div class="add-comment-section" id="addcommentsection{{blog.id}}">
            <textarea id="comment-text-{{blog.id}}"></textarea>
            <br>
            <button type="submit" id="submit-comment-{{blog.id}}">Submit Comment</button>
        </div>
        <hr>
        <div class="comments-section" id="commentsection{{blog.id}}">
        </div>

        <button class="viewComments" id="viewComments{{blog.id}}">View Comments</button>
        <button class="hideComments" id="hideComments{{blog.id}}">Hide Comments</button>
        <button class="addComment" id="addComment{{blog.id}}">Add a Comment</button>        
    </div>
</div>
{{/each}}

<script src="/js/mainposts.js"></script>